*{
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
}
#content{
    padding: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 13%;
    font-size: 4vw;
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
#ul1 {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
}
#ul1 li {
    display: inline;
    list-style-type: none;
}
#ul1 li a {
    display: inline-block;
    color: rgb(5, 4, 4);
    text-align: center;
    font-size: 1.8vw;
    font-weight: bolder;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: -2px 0 rgba(255, 255, 255, 0.877), 0 2px rgba(255, 255, 255, 0.877), 2px 0 rgba(255, 255, 255, 0.877), 0 -2px rgba(255, 255, 255, 0.877);
}
#ul1 a:hover{
    color: #b3b3b3;
}
#cc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 150px 0px 70px 0px;
    font-size: 0.8vw;
    color: gray;
    background-color: rgb(23, 20, 20);
}
#footernav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 20, 20);
}
#footerul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
    background-color: rgb(23, 20, 20);
}
#footerul li {
    display: inline;
    list-style-type: none;
}
#footerul li a i {
    display: inline-block;
    text-align: center;
    font-size: 3vw;
    padding: 0px 20px 50px 20px;
    background-color: rgb(23, 20, 20);
}
#footerul a i:hover {
    color: #b3b3b3;
}
#ins {
    font-size: 3vw;
    color: rgb(214, 72, 167);
}
#mail {
    color: white;
}
#github{
    color: blueviolet;
}